
body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

img{
    height: 95%;
    width: 110%;
}
#profile{
    border-radius: 50%;
}
#right-sidebar{
    background-color: antiquewhite;
    border-right: 5px solid red;
    
}


#right-text-header{
    font-family: "Times New Roman", Times, serif;
}
#icon{
    font-size: 30px;
}
