
body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

img{
    height: 100%;
    width: 100%;
}
#profile{
    border-radius: 50%;
}
#right-sidebar{
    background-color: antiquewhite;
    border-right: 5px solid red;
}
#text-align{
    text-align: center;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fff;
}
#right-text-header{
    font-family: "Times New Roman", Times, serif;
}
#icon{
    font-size: 30px;
}